{% extends 'base.html.twig' %}

{% block title %}Codenames - Mentions légales{% endblock %}

{% block body %}
<div class="main mentions">
    <h2>Crédits et mentions légales</h2>
    <h3>Éditeur</h3>
    <p>
        Le site internet Codenames Marvel est un site non-officiel créé dans le cadre d'un projet académique de deux étudiants de l'IUT de Troyes.
    </p>
    <p>
        <span>Développeurs du site :</span> Julie Van Houdenhove (développement VueJS), Timothée Pluot (développement Symfony)
    </p>
    <p>
        <span>Hébergement</span> <br>
        PulseHeberg <br>
        9, Boulevard de Strasbourg <br>
        83000 Toulon <br>
        https://pulseheberg.com
    </p>

    <h3>Droits d'auteurs</h3>
    <p>
        Les photographies, images, textes, séquences vidéo, animations et autres documents présents sur le site Internet Codenames Marvel sont la propriété de Marvel Comics, Marvel Studios, Czech Games Edition ou de tiers les ayant autorisées à les utiliser.
    </p>
    <p>
        Ces contenus sont protégés par la législation française et internationale sur le droit d’auteur et la propriété intellectuelle. L'article L 122-4 du Code de la propriété intellectuelle indique à ce titre que : « Toute représentation ou reproduction intégrale ou partielle faite sans le consentement de l'auteur ou de ses ayants droit ou ayants cause est illicite. Il en est de même pour la traduction, l'adaptation ou la transformation, l'arrangement ou la reproduction par un art ou un procédé quelconque. »
    </p>

    <h3>Les logotypes et pictogrammes</h3>
    <p>Les logotypes (plus couramment appelés logos) présents sur le site Internet Codenames Marvel sont protégés par le droit de la propriété intellectuelle. Ils ont été réalisés par Julie Van Houdenhove. Toute reproduction ou modification (totale ou partielle) de ces éléments graphiques, sans autorisation préalable et écrite, est interdite.
    </p>
    <p>
        Les pictogrammes proviennent de Google Fonts. Leur utilisation est libre de droit.
    </p>

</div>
{% endblock %}
