@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: marvel;
    src: url(fonts/Marvel-Regular.woff2);
}

*{
    font-family: Inter, sans-serif;
}

body{
    height: 100vh;
    background-color: #649aa2;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

h1 {
    text-align: center;
}

#logo {
    display: block;
    margin: auto;
    width: 60%;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4em;
    height: 100vh;
    background: url("../images/spidey-nwh-jump.png") no-repeat;
    background-size: 40%;
}

#banner {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    /*overflow: hidden;*/
    position: relative;
    z-index: 1;
}

#banner img:nth-child(1) {
    width: 35%;
    align-self: start;
}

#banner img:nth-child(2) {
    position: relative;
    z-index: 1;
    width: 30%;
    align-self: center;
}

#banner img:nth-child(3){
    width: 25%;
}

/* BOUTONS */

#home-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 3em;
}

.btn {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    padding: 11px 30px;
    border-radius: 10px;
    border: none;
    width: auto;
    font-size: 1.3em;
}

.btn-primary {
    color: #F5F5F5;
    background-color: #4266B0;
}

.btn-secondary {
    color: #000000;
    background-color: #DBDBDB;
}

