@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: marvel;
    src: url(fonts/Marvel-Regular.woff2);
}

*{
    font-family: Inter, sans-serif;
}

html, body {
    height: 100%;
}

body{
    background-color: #649aa2;
    overflow-y: hidden;
    overflow-x: hidden;
}

.main {
    z-index: 10;
    position: relative;
}

header {
    z-index: 10;
    position: relative;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

#logo {
    display: block;
    margin: 10% auto 0 auto;
    width: 60%;
}

#logo-marvel {
    display: block;
    margin: 0 auto;
    width: 15%;
    /*opacity: 0.85;*/
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4em;
    min-height: 70vh;
    /*background: url("../img/spidey-nwh-jump.png") no-repeat;*/
    /*background-size: 40%;*/
}

.overlay {
    mix-blend-mode: soft-light;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    opacity: .5;
}

/*#banner {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    !*overflow: hidden;*!
    position: relative;
    z-index: 1;
}*/

#banner {
    z-index: 5;
}

#banner img:nth-child(1) {
    width: 20%;
    position: absolute;
    top: 90px;
    left: -20px;
}

#banner img:nth-child(2) {
    position: absolute;
    width: 35%;
    top: 135px;
    right: -70px;
}

#banner img:nth-child(3){
    width: 25%;
}

/* PROFIL */
#profil #avatar {
    width: 100px;
    border-radius: 5px;
    margin: auto;
    display: block;
}

/* BOUTONS */

#home-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 3em;
}

.btn {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    padding: 11px 30px;
    border-radius: 10px;
    border: none;
    width: auto;
    font-size: 1.3em;
}

.btn-primary {
    color: #F5F5F5;
    background-color: #4266B0;
}

.btn-secondary {
    color: #000000;
    background-color: #DBDBDB;
}

