@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: marvel;
    src: url(fonts/Marvel-Regular.woff2);
}

*{
    font-family: Inter, sans-serif;
}

html, body {
    height: 100%;
}

body{
    background-color: #008BD4;
    overflow-x: hidden;
}

.main {
    z-index: 10;
    position: relative;
}

header {
    z-index: 10;
    position: relative;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1340px;
}

.nav__logo img {
    width: 200px;
}

.nav-menu {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #1b1b1b;
}

.nav-menu a:nth-child(1) {
    font-size: 1.4em;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    color: #1b1b1b;
    text-transform: uppercase;
    margin-right: 10px;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95), color .3s ease;
}

.nav-menu a:nth-child(1):hover {
    color: #F5F5F5;
    text-decoration: none;
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.nav-menu a span {
    color: #1b1b1b;
    transition: all .3s ease;
}

.nav-menu a span:hover {
    color: #F5F5F5;
}

.nav-menu img {
    width: 25px;
    border: 1px #1b1b1b solid;
    border-radius: 50%;
}

.nav-menu a:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 11px 20px;
}

#logo {
    display: block;
    margin: 10% auto 0 auto;
    width: 60%;
}

#logo-marvel {
    display: block;
    margin: 0 auto;
    width: 15%;
    /*opacity: 0.85;*/
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4em;
    min-height: 70vh;
    overflow-y: hidden;
    /*background: url("../img/spidey-nwh-jump.png") no-repeat;*/
    /*background-size: 40%;*/
}

.overlay {
    mix-blend-mode: soft-light;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    opacity: .3;
}

/*#banner {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    !*overflow: hidden;*!
    position: relative;
    z-index: 1;
}*/

#banner {
    z-index: 5;
}

#banner img:nth-child(1) {
    width: 20%;
    position: absolute;
    top: 90px;
    left: -20px;
}

#banner img:nth-child(2) {
    position: absolute;
    width: 35%;
    top: 135px;
    right: -70px;
}

#banner img:nth-child(3){
    width: 25%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background-color: #0b4a6b;
    z-index: 15;
    height: 5vh;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

footer a {
    text-decoration: none;
}

footer p a {
    color: #e0e0e0;
}

footer p a:hover {
    color: #F5F5F5;
    text-decoration: underline;
}

footer img {
    width: 20px;
}

.mentions {
    margin: 0 150px;
}

.mentions p {
    margin-bottom: 10px;
}

.mentions h2 {
    text-align: center;
}

.mentions h3 {
    font-family: 'Bebas Neue', sans-serif;
}

.mentions span {
    font-weight: 500;
}

/* PROFIL */
#profil {
    margin: 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 80px;
}

#profil #avatar {
    width: 100px;
    border-radius: 5px;
    margin: auto;
    display: block;
}

.parties a {
    color: #F5F5F5;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.3em;
    transition: all .3s ease;
}

.parties a:hover {
    text-decoration: underline;
}

.parties .table th, .parties .table td {
    border-top: 1px solid #F5F5F5;
}

.parties .table thead th{
    border-bottom: 2px solid #F5F5F5;
}

.parties h2 {
    margin-bottom: 20px !important;
    font-family: 'Bebas Neue', sans-serif;
    color: #F5F5F5;
}

.parties {
    background-color: rgba(11, 74, 107, 0.9);
    padding: 20px 30px;
    margin-top: 20px;
    color: #e0e0e0;
    border-radius: 10px;
    width: 80%;
}

/* FORM */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 30%;
    text-align: center;
}

form div {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

form div label {
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 1.1em;
    text-align: left;
}

form div input {
    /*background-color: rgba(38, 38, 38, 0.7);*/
    padding: 0.375rem 0.75rem;
    color: #1b1b1b;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.registration__form form div:nth-child(5) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

form .btn {
    font-size: 1.4em;
}

.form a {
    color: #e0e0e0;
}

/* BOUTONS */

#home-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 3em;
}

.btn {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    padding: 8px 30px !important;
    border-radius: 10px;
    border: none;
    width: auto;
    font-size: 1.3em;
    letter-spacing: 1px;
}

.btn-primary {
    color: #F5F5F5;
    background-color: #0b4a6b;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.btn-primary:hover {
    background-color: #0b4a6b;
}

.btn-primary:hover, .btn-secondary:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.btn-secondary:hover {
    background-color: #f1f1f1;
    color: #1b1b1b;
}

.btn-secondary {
    color: #1b1b1b;
    background-color: #f1f1f1;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

