{% extends 'base.html.twig' %}

{% block title %}Codenames - Nouvelle Partie {% endblock %}

{% block body %}

<div class="main">
    <h1>Nouvelle partie créée !</h1>
    <p>Vous pouvez la rejoindre <a href="{{ path('app_compte') }}">ici</a>.</p>

</div>
{% endblock %}
