@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9dacca;
}

/* HEADER */

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px 20px 0 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    margin: 5px;
    background-color: cornflowerblue;
    border-radius: 7px;
    font-size: 15px;
}

.user {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #000;
    margin: 0 0 0 5px;
}

/* MAIN */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* SCORE */
.score {
    background-color: #eee;
    margin-top: 90px;
    padding: 20px;
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
}

.score div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.score h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0 20px 0 0;
    font-size: 40px;
    letter-spacing: -5.1px;
}

/* JEU */

.plateau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plateau>p {
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 500px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    letter-spacing : .5px;
}

.jeu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 600px;
    width: 870px;
}

.card {
    height: 100px;
    width: 154px;
}

.card p {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    justify-content: center;
    letter-spacing: .5px;
}

.blue_card {
    background: url('img/blue_card.svg') no-repeat;
}

.neutral_card {
    background: url('img/neutral_card.svg') no-repeat;
}

.black_card {
    background: url('img/black_card.svg') no-repeat;
    color: white;
}

.shield_card_me {
    background: url('img/shield_card_me.svg') no-repeat;
}

.shield_card_other {
    background: url('img/shield_card_other.svg') no-repeat;
}

.hydra_card_me {
    background: url('img/hydra_card_me.svg') no-repeat;
}

.hydra_card_other {
    background: url('img/hydra_card_other.svg') no-repeat;
}

.pins {
    display: flex;
    height: 59px;
    width: 154px;
    padding: 10px;
}

.pins_me {
    justify-content: flex-end;
}

.pins_two {
    justify-content: space-between;
}

/* HISTORIQUE */

.chat {
    background-color: #eee;
    margin-top: 90px;
    padding: 20px;
    border-radius: 10px;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.chat h1 {
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.chat p {
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
}

.chat p span {
    font-weight: 600;
}

/* INDICE */

.indice {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.indice input {
    width: 300px;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
}

#indice {
    margin-bottom: 10px;
}

.indice select {
    width: 31.6px;
    height: 31.6px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #fff;
}

#submit {
    width: 203px;
    background-color: #4266B0;
    border: 2px solid #4266B0;
    color: #fff;
    letter-spacing: .5px;
    transition: .3s;
    font-family: 'Bebas Neue', sans-serif;
}

#submit:hover {
    cursor: pointer;
    background-color: #9dacca;
    color: black;
}