{% extends 'base.html.twig' %}

{% block title %}CodeNames - Accueil{% endblock %}

{% block body %}
    <header>
        <nav>
            <button class="btn btn-secondary">S'inscrire</button>
            <button class="btn btn-primary">Se connecter</button>
        </nav>
    </header>

    <div id="home">
        <img src="../images/codenames-13.png" alt="logo" id="logo">


        <div id="home-btn">
            <button class="btn btn-primary">Créer une partie</button>
            <button class="btn btn-secondary">Les règles</button>
        </div>

{#        <div id="banner">
            <img src="../images/ironman-flying-comics.png" alt="banner">
            <img src="../images/spidey-nwh-jump.png" alt="banner">
            <img src="../images/Groot.webp" alt="banner">
        </div>#}
    </div>






{% endblock %}
