{% extends 'base.html.twig' %}

{% block title %}CodeNames - Accueil{% endblock %}

{% block body %}
    <header>
        <nav>
            {% if app.user %}
            <a href="{{ path('app_compte')}}" class="btn btn-secondary">Compte</a>
            {% else %}
            <a href="{{ path('app_register')}}" class="btn btn-secondary">S'inscrire</a>
            <a href="{{ path('app_login')}}" class="btn btn-primary">Se connecter</a>
            {% endif %}
        </nav>
    </header>


    <div id="home" class="main">
        <img src="{{ asset('images/codenames-13.png') }}" alt="logo" id="logo">


        <div id="home-btn">
            <a href="#" class="btn btn-primary">Créer une partie</a>
            <a href="#" class="btn btn-secondary">Les règles</a>
        </div>

{#        <div id="banner">
            <img src="../images/ironman-flying-comics.png" alt="banner">
            <img src="../images/spidey-nwh-jump.png" alt="banner">
            <img src="../images/Groot.webp" alt="banner">
        </div>#}
    </div>






{% endblock %}
